body
    {
        background: linear-gradient(#787FF6, #4ADEDE);
        height: 100vh;
    }

.container
    {
        border-radius: 10px;
        background-color: white;
        position: absolute;
        width: 900px;
        height: 600px;
        top: 15%;
        left: 25%;
    }

h1
    {
        position: relative;
        top: 30px;
        left: 20px;
    }

.container1
    {
        display: flex;
    }

.age_div
    {
        position: absolute;
        top: 150px;
        left: 35px;
        width: 42%;
    }

.dob_div
    {
        position: absolute;
        top: 150px;
        left: 54%;
        width: 42%;
    }

.container2
    {
        display: flex;
    }

.email_div
    {
        position: absolute;
        top: 50%;
        left: 36px;
        width: 42%;
    }

.mobile_div
    {
        position: relative;
        top: 244px;
        left: 54%;
        width: 45%;
    }

.update
    {
        position: absolute;
        top: 75%;
        left: 37px;
    }

.button
    {
        position: absolute;
        width:92%;
        font-size: x-large;
        font-weight:500;
    }


